/notebooks/1024-shot-datasets/narrativeqa/1024-100-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-100-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-13-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-13-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-21-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-21-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-42-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-42-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-87-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/1024-87-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/narrativeqa/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-100-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-100-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-13-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-13-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-21-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-21-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-42-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-42-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-87-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/1024-87-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/race/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-100-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-100-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-13-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-13-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-21-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-21-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-42-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-42-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-87-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/1024-87-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/1024-shot-datasets/squad/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-100-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-100-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-13-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-13-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-21-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-21-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-42-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-42-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-87-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/128-87-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/narrativeqa/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-100-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-100-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-13-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-13-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-21-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-21-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-42-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-42-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-87-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/128-87-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/race/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-100-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-100-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-13-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-13-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-21-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-21-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-42-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-42-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-87-dev.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/128-87-train.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/128-shot-datasets/squad/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/16-shot-datasets/narrativeqa/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/16-shot-datasets/race/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/16-shot-datasets/squad/test.tsv filter=lfs diff=lfs merge=lfs -text
/notebooks/qa_llama2_examples.ipynb filter=lfs diff=lfs merge=lfs -text
/notebooks/qa_t5_examples.ipynb filter=lfs diff=lfs merge=lfs -text
